<% @verses.group_by(&:chapter).each_pair do |chapter, verses| %>
  <h1><%= chapter %></h1>
  <p><% verses.each do |verse| %>
    <%= " " %>
    <%= verse.text.gsub(/\<.+\>/, '') %>
  <% end %></p>
<% end %>
